<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cibrx Home</title>
    <link rel="stylesheet" href="/style/home_style.css">
    <link rel="icon" href="/img/logo.png">
</head>
<body>

    <div class="sidebar">
        <a href="/chat"><img src="/img/live-chat.png" alt="Chat"></a>
        <a href="/blog"><img src="/img/blog_icon.png" alt="Blog"></a>
        <a href="/profile"><img src="/img/account_icon.png" alt="Profile"></a>
        <a href="/home"><img src="/img/icons8-home-50.png" alt="Home"></a>
        <a href="/logout"><img src="/img/logout.png" alt="Logout"></a>
    </div>

    <div class="content">
        <!-- İçerik buraya gelecek -->
        <h2>Chat Cibrx</h2>
        <p>Bu bir örnek metindir.</p>
    </div>
    <div class="powered-by">
        Powered by LegendMan46
    </div>
</body>
</html>
